@media screen and (max-width: 640px) {

@font-face {
	font-family: 'Volte';
	src: url('font/Volte-Light.woff2') format('woff2'),
	url('font/Volte-Light.woff') format('woff');
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'Volte';
	src: url('font/Volte-Bold.woff2') format('woff2'),
	url('font/Volte-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Volte';
	src: url('font/Volte-Medium.woff2') format('woff2'),
	url('font/Volte-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Volte';
	src: url('font/Volte-Semibold.woff2') format('woff2'),
	url('font/Volte-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Volte';
	src: url('font/Volte.woff2') format('woff2'),
	url('font/Volte.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body,html {
	padding:0;
	margin:0;
}

.top-left {
	font-size:4.5vw;
	width:100%;
	text-align:center;
	left:0;
}

.top-right {
	display:none;
}

.mobile-credits {
	font-weight:500;
	display:initial;
	font-size:14px;
}

.content textarea {
	font-size:9vw;
	height:35vw;
}

button {
	font-size:15px;
	border:2px solid;
}

}

@media screen and (max-width: 600px) {

@font-face {
	font-family: 'Volte';
	src: url('font/Volte-Light.woff2') format('woff2'),
	url('font/Volte-Light.woff') format('woff');
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'Volte';
	src: url('font/Volte-Bold.woff2') format('woff2'),
	url('font/Volte-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Volte';
	src: url('font/Volte-Medium.woff2') format('woff2'),
	url('font/Volte-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Volte';
	src: url('font/Volte-Semibold.woff2') format('woff2'),
	url('font/Volte-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Volte';
	src: url('font/Volte.woff2') format('woff2'),
	url('font/Volte.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body,html {
	padding:0;
	margin:0;
}

.top-left {
	font-size:9vw;
	width:100%;
	text-align:center;
	left:0;
}

.top-right {
	display:none;
}

.mobile-credits {
	font-weight:500;
	display:initial;
	font-size:4vw;
}

.content textarea {
	font-size:13vw;
	height:50vw;
}

button {
	font-size:8vw;
	border:2px solid;
	margin:5px;
}

.canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 80%;
	height: 80%;
	z-index: -1;
}

}