@font-face {
    font-family: 'Volte';
    src: url('font/Volte-Light.woff2') format('woff2'),
        url('font/Volte-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('font/Volte-Bold.woff2') format('woff2'),
        url('font/Volte-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('font/Volte-Medium.woff2') format('woff2'),
        url('font/Volte-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('font/Volte-Semibold.woff2') format('woff2'),
        url('font/Volte-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('font/Volte.woff2') format('woff2'),
        url('font/Volte.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*@font-face {
	font-family: 'druk';
	src: url('font/druk.otf');
}*/

body {
	padding:0;
	margin:0;
	color:#ff0707;
	background:#ffd3ec;
    font-family: 'Volte', sans-serif;
    font-weight:700;
	cursor:'css/images/cursor.gif';
}


body, html{
  height:100%;
}

a {
	text-decoration:none;
	color:#272955;
	padding:4px 8px;
	transition:ease .2s;
}

a img {width:50px;
	padding-left:10px;
	margin:0;
	transition:ease .3s;}

a img:hover {transform: rotate(20deg);}

svg {
	width:2.5vw;
	transition:ease .2s;
}

.top-left, .top-right, .bottom-left, .bottom-right {
	position:fixed;
	font-size:2vw;
	font-weight:600;
	z-index:999999999;
}

.top-left {
	top:4vw;
	left:4vw;
}

.top-right {
	top:4vw;
	right:4vw;
	text-align:right;
}

.bottom-left {
	bottom:4vw;
	left:4vw;
}

.bottom-right {
	bottom:4vw;
	right:4vw;
	text-align:right;
}

.content {
	position:fixed;
	margin:0;
	padding:0;
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
	/*--background-image:url('images/heart.svg');--*/
	background-size:100% auto;
	background-repeat:no-repeat;
	background-position:center center;
}

.content textarea {
    font-family: 'Volte', sans-serif;
    font-weight:700;
	font-size:7vw;
	letter-spacing:-2pt;
	line-height:1;
	text-align:center;
	display: table;
	padding:15vw 0;
	color:#272955;
	background:transparent;
	width:50%;
	height:100%;
	border:0;
	resize: none;
	overflow:hidden;
}

button {
	background:#ffd3ec;
	border:0;
	font-size:2vw;
    font-family: 'Volte', sans-serif;
    font-weight:600;
    padding:2px 15px;
	color:#272955;
	transition:ease .2s;
	margin-left:1vw;
}

button:hover {
	background-color:#272955;
	color:#ffd3ec;
	cursor:pointer;
}

button:active {
	background-color:#272955;
	color:white;
}

