@font-face {
    font-family: 'Volte';
    src: url('font/Volte-Light.woff2') format('woff2'),
    url('font/Volte-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('font/Volte-Bold.woff2') format('woff2'),
    url('font/Volte-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('font/Volte-Medium.woff2') format('woff2'),
    url('font/Volte-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('font/Volte-Semibold.woff2') format('woff2'),
    url('font/Volte-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('font/Volte.woff2') format('woff2'),
    url('font/Volte.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body,html {
	padding:0;
	margin:0;
	color:#f390b8;
	background:#ffe0f4;
    font-family: 'Volte', sans-serif;
    font-weight:600;
	cursor:url('css/images/cursor.png');
	height:100%;
	font-size:1.5vw;
	font-weight:500;
}

a {
	transition:ease .3s;
	text-decoration:none;
	color: #f390b8;
	font-weight:600;
}

a:hover {
	color:#de4086;
}

textarea:hover {
	cursor:default;
}

.top-left, .top-right, .bottom-left, .bottom-right {
	position:fixed;
	z-index:999999999;
}

.top-left {
	top:4vw;
	left:4vw;
	font-size:2.5vw;
	font-weight:600;
}

.top-right {
	top:4vw;
	right:4vw;
	text-align:right;
}

.top-right  a {
	margin-left:2vw;
	padding:2px;
}

.bottom-left {
	bottom:4vw;
	left:4vw;
}

.bottom-right {
	bottom:4vw;
	right:4vw;
	text-align:right;
}

.content {
	position:fixed;
	margin:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	width: 100%;
	height: 100%;
}

.content textarea {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    font-family: 'Volte', sans-serif;
    font-weight:700;
	font-size:5vw;
	letter-spacing:-1pt;
	line-height:.95;
	text-align:center;
	border:0;
	background:transparent;
	width:100%;
	height:20vw;
	resize: none;
	overflow:hidden;
	color: transparent;
	text-shadow: 0px 0px 0px #ff0707;
}

.copied {
color:#ff0707;
  width: 100%;
  text-align: center;
  position:absolute;
  font-size:2vw;
  font-weight:600;
  display:none;
  bottom:13vw;
  animation: fadeOut 1s forwards;
  animation-delay: .2s;
} 

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}


::selection {background:transparent;}

input:focus, textarea:focus, select:focus {
	outline: none;
}

button {
	background:transparent;
	border:0;
	transition:ease .2s;
	color:#f390b8;
    font-family: 'Volte', sans-serif;
    font-weight:600;
    font-size:1.5vw;
    border:3px solid;
    padding:6px 12px 4px;
    outline::none;
    outline:none;
    box-shadow:none;
    margin:0 0 0 1.5vw;
}

button:hover {
	cursor:pointer;
}

#go {
	color:#ffe0f4;
	background-color:#ff0707;
	border-color:#ff0707;
}

#go:hover {
	color:#fff;
}

#copy:hover, #shop:hover {
	color:#ffe0f4;
	background-color:#f390b8;
	border-color:#f390b8;
}

.canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}