@font-face {
    font-family: 'Volte';
    src: url('Volte-Light.woff2') format('woff2'),
        url('Volte-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('Volte-Bold.woff2') format('woff2'),
        url('Volte-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('Volte-Medium.woff2') format('woff2'),
        url('Volte-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('Volte-Semibold.woff2') format('woff2'),
        url('Volte-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volte';
    src: url('Volte.woff2') format('woff2'),
        url('Volte.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'druk';
	src: url('font/druk.otf');
}

body {
	padding:0;
	margin:0;
	color:#272955;
	background:#fffc00;
    font-family: 'Volte', sans-serif;
	cursor:'css/images/cursor.gif';
}

.st0{fill:#272955;}


body, html{
  height:100%;
}

a {
	text-decoration:none;
	color:#272955;
	padding:4px 8px;
	transition:ease .2s;
}
svg {
	width:2.5vw;
	transition:ease .2s;
}

.top-left, .top-right, .bottom-left, .bottom-right {
	position:fixed;
	font-size:1.2vw;
	z-index:999999999;
}

.top-left {
	top:4vw;
	left:4vw;
}

.top-right {
	top:4vw;
	right:4vw;
	text-align:right;
}

.bottom-left {
	bottom:4vw;
	left:4vw;
}

.bottom-right {
	bottom:4vw;
	right:4vw;
	text-align:right;
}

.content {
	position:fixed;
	margin:0;
	padding:0;
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
	/*--background-image:url('images/heart.svg');--*/
	background-size:100% auto;
	background-repeat:no-repeat;
	background-position:center center;
}

.content textarea {
	font-family:'Druk',sans-serif;
	font-size:6vw;
	line-height:1.1;
	text-align:center;
	color:#272955;
	background:transparent;
	width:80%;
	height:22vw;
	border:0;
	resize: none;
	overflow:hidden;
}

button {
	background:white;
	border:0;
	font-size:2vw;
	font-family:'Druk',sans-serif;
	padding:2px 15px;
	color:#272955;
	transition:ease .2s;
	margin-left:1vw;
}

button:hover {
	background-color:#272955;
	color:#fffc00;
	cursor:pointer;
}

button:active {
	background-color:#272955;
	color:white;
}

